alpha_vantage
backtrader
bs4
elasticsearch
empyrical
flask
jupyter
jupyterthemes
matplotlib
nose
numpy
pandas
pandas-datareader
pathlib2
pyfolio
pylint
pystan
quandl
requests
scipy
scikit-learn
tweepy
tushare